<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Update Pilot</title>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">
		    <img src="https://cdn0.iconfinder.com/data/icons/transport-14/512/Airplane_Blue.png" width="30" height="30" class="d-inline-block align-top" alt="">
		    Sistem Informasi APAP Airline
		  </a>
		</nav>
		<br><br><br>
		<div class="container">
			<h2>Pilot telah diupdate</h2><br>
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://static.thenounproject.com/png/113297-200.png" alt="Card image cap">
				<div class="card-body">
					<h3 th:text="'Pilot License Number: ' + ${pilot.licenseNumber}"></h3>
					<h3 th:text="'Name: ' + ${pilot.name}"></h3>
					<h3 th:text="'Fly Hour: ' + ${pilot.flyHour}"></h3>
				</div>
			</div>
			<br>
			<button class="btn btn-outline-primary btn-lg" type="button"><a th:href="@{/}">Home</a></button>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>  